*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 150%;
}

a {
  position: relative;
  display: inline-block;
}

ul {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

section {
  padding: 30px 0 50px;

  &+section {
    border-top: 1px solid #dbdbdb;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  width: 33.33%;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

tfoot th {
  font-weight: normal;
  text-align: left;
}

.container {
  max-width: 600px;
  width: 100%;
  min-height: 100%;
  padding: 0 20px;
}

.show-more {
  margin: auto;
}

.hidden {
  display: none;
}

.showMore,
.showLess {
  cursor: pointer;
  color: #0095e5;
  white-space: nowrap;

  &:hover {
    color: red;
  }
}

.display-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;

  li {
    margin-right: 10px;
  }
}

.show-links {
  a {
    text-decoration: none;
    margin-right: 5px;

    &:after {
      content: '';
      display: block;
      margin: auto;
      height: 2px;
      width: 0;
      background-color: transparent;
      transition: width .5s ease, background-color .5s ease;
    }

    &:hover:after {
      width: 100%;
      background-color: #e50000;
    }
  }
}

.example {
  position: relative;
  display: block;
  margin: 10px auto;

  h5 {
    position: relative;
    cursor: pointer;
    padding: 2px 2px 2px 25px;
    margin: 0;

    &:before {
      position: absolute;
      content: "\27A4";
      left: 0;
      top: 1px;
      transition: transform .2s ease-in-out;
    }
  }

  pre {
    overflow: auto;
    margin: -20px auto -60px auto;
    padding: 0;

    code {
      line-height: 130%;
    }
  }
}

.open {
  &:focus {
    outline: 1px dashed red;
  }

  h5 {
    &::before {
      transform: rotate(90deg);
    }
  }

  pre {
    display: block;
  }
}


html[data-useragent*='IE'] .example {
  display: none;
}