@import "./modules/table";

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 150%;
}

h2,
h3 {
  padding: 0;
  margin: 0;
}

a {
  position: relative;
  display: inline-block;
}

ul {
  padding: 0 0 0 22px;
  margin: 0;
}

section {
  position: relative;
  padding: 30px 0;
  border-bottom: 1px solid #edd7ff;
  margin-top: 20px;

  h2 {
    position: relative;
    color: #583131;
    line-height: 1.2;
    margin-bottom: 15px;

    @media (max-width: 700px) {
      font-size: 1.2em;
      padding: 0;
    }
  }

  h3 {
    margin-top: 20px;
  }
}

img {
  width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead th,
td {
  padding: 10px;
  border: 1px solid #c8b0ca;
  width: 33.33%;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

tfoot th {
  font-weight: normal;
  text-align: left;
}

html[data-useragent*="IE"] .example-html {
  display: none;
}

.container {
  max-width: 600px;
  width: 100%;
  min-height: 100%;
  padding: 0 20px;
  margin-bottom: 50px;
}

.display-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  li {
    margin-right: 10px;
  }
}

.links-style {
  a {
    text-decoration: none;
    margin-right: 5px;
    color: #681bcc;

    &:after {
      content: "";
      display: block;
      margin: auto;
      height: 2px;
      width: 0;
      background-color: transparent;
      transition: width 0.5s ease, background-color 0.5s ease;
    }

    &:hover:after {
      width: 100%;
      background-color: #681bcc;
    }
  }
}

.example {
  position: relative;
  display: block;
  margin: 10px auto;
}

pre {
  overflow: auto;
  margin: 0px auto -50px;
  padding: 0;
  // font-size: 1rem;

  code {
    line-height: 130%;
    border-radius: 5px;
  }
}

h5 {
  position: relative;
  cursor: pointer;
  padding: 20px 2px 2px 25px;
  margin: 0;

  &:before {
    position: absolute;
    content: "\27A4";
    left: 0;
    top: 19px;
    color: #b152ff;
    transition: transform 0.2s ease-in-out;
  }
}

.open {
  &:focus {
    outline: 1px dashed red;
  }

  h5 {
    &::before {
      transform: rotate(90deg);
    }
  }

  pre {
    display: block;
  }
}

.top-button {
  position: absolute;
  bottom: -12px;
  right: 0;
  background: #fff;
  text-decoration: none;
  font-size: 0.8em;
  padding: 0 10px 0 10px;
  &:after {
    position: absolute;
    top: -1px;
    right: -1px;
    content: "↑";
  }
  &:hover {
    color: red;
  }
}

p {
  margin: 5px 0 -15px;
}

.hljs {
  padding: 1em;
}

.explanation {
  font-size: 80%;
  line-height: 1.2;
  margin-bottom: 20px;

  code {
    color: #c7254e;
    background: #f9f2f4;
    padding: 2px 4px;
    border-radius: 4px;
  }
}

.element {
  table,
  img {
    margin: 20px 0;
  }
}

.hidden {
  display: none;
}

.extending {
  margin-top: 5px;
  padding: 7px 23px 7px;
  outline: 0;
  border: 1px solid #000;
  cursor: pointer;
  position: relative;
  color: #000;
  background-color: #fff;

  &::after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }

  &:hover::after {
    top: 0px;
    left: 0px;
  }
}

#example-list .element li:last-of-type {
  list-style: none;
  margin-left: -25px;
}
